# .gitignore for Python FastAPI project

# Python-related files
__pycache__/

# Virtual environment
venv/

# IDE-specific files and directories
.vscode/
*.pyc

# Ignore any compiled Python files
*.pyc
*.pyo
*.pyd

# Ignore logs and databases
*.log
*.db
