<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal PIN Code Details</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='/favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='/favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='/favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='/favicon_io/site.webmanifest') }}">
</head>

<body>
    <div id="container">
        <h1>Postal PIN Code Details</h1>

        <div class="input-container">
            <label for="pincode">Enter PIN Code or Branch Name:</label>
            <input type="text" id="pincode" name="pincode" placeholder="Enter PIN Code or Branch Name">
        </div>

        <button onclick="getDetails()">Get Details</button>

        <div id="result"></div>
    </div>
    <script>
        function getDetails() {
            var input = document.getElementById('pincode').value;
            var isPincode = !isNaN(input);
            var url;

            if (isPincode) {
                url = '/get_details/' + input;
            } else {
                url = '/get_details/' + input; 
            }

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    console.log('Received data from the server:', data);

                    var resultDiv = document.getElementById('result');

                    if (!data || !data.Status || data.Status !== 'Success' || !data.PostOffice || data.PostOffice.length === 0) {
                        resultDiv.innerHTML = '<p>No valid data received from the server</p>';
                        return;
                    }

                    var postOffices = data.PostOffice;

                    if (Array.isArray(postOffices) && postOffices.length > 0) {
                        var tableHTML = '<table>';
                        tableHTML += '<tr><th>Name</th><th>Branch Type</th><th>Delivery Status</th><th>Circle</th><th>District</th><th>Division</th><th>Region</th><th>Block</th><th>State</th><th>Pincode</th></tr>';

                        for (var i = 0; i < postOffices.length; i++) {
                            var office = postOffices[i];
                            tableHTML += '<tr>';
                            tableHTML += '<td>' + office.Name + '</td>';
                            tableHTML += '<td>' + office.BranchType + '</td>';
                            tableHTML += '<td>' + office.DeliveryStatus + '</td>';
                            tableHTML += '<td>' + office.Circle + '</td>';
                            tableHTML += '<td>' + office.District + '</td>';
                            tableHTML += '<td>' + office.Division + '</td>';
                            tableHTML += '<td>' + office.Region + '</td>';
                            tableHTML += '<td>' + office.Block + '</td>';
                            tableHTML += '<td>' + office.State + '</td>';
                            tableHTML += '<td>' + office.Pincode + '</td>';
                            tableHTML += '</tr>';
                        }

                        tableHTML += '</table>';
                        resultDiv.innerHTML = tableHTML;
                    } else {
                        resultDiv.innerHTML = '<p>No Post Office details found</p>';
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    var resultDiv = document.getElementById('result');
                    resultDiv.innerHTML = '<p>Error fetching data. Please try again.</p>';
                });
        }
    </script>
</body>

</html>
