<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postal PIN Code Details</title>
    <link rel="stylesheet" href="{{ url_for('static', path='styles.css') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', path='favicon_io/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', path='favicon_io/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', path='favicon_io/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', path='favicon_io/site.webmanifest') }}">
</head>

<body>
    <div id="container">
        <h1>Postal PIN Code Details</h1>

        <div class="input-container">
            <label for="pincode">Enter PIN Code or Branch Name:</label>
            <input type="text" id="pincode" name="pincode" placeholder="Enter PIN Code or Branch Name">
        </div>

        <button onclick="getDetails()">Get Details</button>

        <!-- Added search input for result filtering -->
        <div id="result-search" style="display: none;">
            <label for="search">Search in Results:</label>
            <input type="text" id="search" placeholder="Type to search...">
        </div>

        <div id="result"></div>
    </div>
    <script src="{{ url_for('static', path='script.js') }}"></script>
</body>

</html>
